/*NAVBAR*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&family=Josefin+Sans:wght@300;400;500&display=swap');

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.navbarShape {
    z-index: -1;
    opacity: 0;
    transition-duration: 1s;
}

.navbar {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1;
}

.navbarScrolled {
    opacity : 60%;
    transition-duration: 1s;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition-duration: 1s;
}

.navScrolled {
    position: absolute;
    top: -1.5vw;
    left: 0;
    width: 100%;
    transition-duration: 1s;
}

.navElements {
    display: flex;
    gap: 14.5vw;
 /*   justify-content: space-between;*/
}

.navElements ul {
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    gap: 3vw;
    font-size: 1.85vw;
    padding-top: 1.9vw;
}

.navElements ul a {
    color: #24549B;
}

.navElements ul a:hover {
    color: #0CC5CB;
}

.logo {
    padding: 3vw 0 0 5vw;
    height: 4.5vw;
    width: auto;
    transition-duration: 1s;
}

.logoScrolled {
    margin-right: -4vw;
    padding: 3.75vw 0 0 2.75vw;
    height: 8.5vw;
    width: auto;
    transition-duration: 1s;
}

.hexagons {
    padding: 3vw 5vw 0 0;
    height: 12.05vw;
    width: auto;
}

.socials {
    position: relative;
}

.socialsShape {
    position: absolute;
    top: 0;
    left: 0;
}

.social {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 4.175vw;
}

#fb {
    margin-left: 2.625vw;
}

#ig {
    margin-left: 6.075vw;
}

#li {
    margin-left: 9.3vw;
}

.socialIcon {
    font-size: 1.75vw;
    color: #24549B;
}

.socialIcon:hover {
    color: #0CC5CB;
    transition-duration: 500ms;
}

.Line1Anim {
    animation: move1 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

.Line2Anim {
    animation: move2 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

.Line3Anim {
    animation: move3 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

.Line4Anim {
    animation: move4 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

.Line5Anim {
    animation: move5 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

.Line6Anim {
    animation: move6 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

@keyframes move1 {
    from {
        transform : rotateZ(0deg) translateY(0) translateX(0);
    }
    to {
        transform : rotateZ(60deg) translateY(-2.5rem) translateX(1.5rem);
    }
}

@keyframes move2 {
    from {
        transform : rotateZ(0deg) translateY(0) translateX(0);
    }
    to {
        transform : rotateZ(60deg) translateY(2.5rem) translateX(1.5rem);
    }
}

@keyframes move3 {
    from {
        transform : rotateZ(0deg) translateY(0) translateX(0);
    }
    to {
        transform : rotateZ(60deg) translateY(-0.1rem) translateX(-2.75rem);
    }
}

@keyframes move4 {
    from {
        transform : rotateZ(0deg) translateX(0);
    }
    to {
        transform : rotateZ(180deg) translateX(-6rem);
    }
}

@keyframes move5 {
    from {
        transform : rotateZ(0deg) translateX(0);
    }
    to {
        transform : rotateZ(180deg) translateX(6rem);
    }
}

@keyframes move6 {
    from {
        transform : rotateZ(0deg) translateX(0) translateY(0);
    }
    to {
        transform : rotateZ(-60deg) translateX(-3rem) translateY(0.1rem);
    }
}

.navLinkItem:hover + .loadHex {
    visibility: visible;
    height: 1vw;
    margin: auto;
    padding: 0;
    max-width: 1vw;
    display: block;
    transition-duration: 1s;
}


.navLinkItem:not(:hover) + .loadHex {
    visibility: hidden;
    height: 1vw;
    margin: auto;
    padding: 0;
    max-width: 1vw;
    display: block;
}

#HoverButtonHexagon {
    animation: rotate 1s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotate {
    from {
        transform:rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

/*////////////////////////////////////////////////////////////////////*/

/*HOME*/

@font-face {
    font-family: "IndigoRegular";
    src: local("IndigoRegular"),
    url("./fonts/Indigo/Indigo Regular.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "AlboriRegular";
    src: local("AlboriRegular"),
    url("./fonts/Albori/Albori-Regular.otf") format("truetype");
    font-weight: bold;
}

.topSection {
    position: relative;
}

.section1 {
    width:100%;
    height: auto;
    padding: 0;
    opacity: 25%;
    position: absolute;
}

.intro h1{
    margin: 0;
    font-family: 'IndigoRegular',sans-serif;
    font-size: 3vw;
    padding-bottom: 3vw;
    color: #112849;
}
.intro p {
    font-family: 'AlboriRegular',sans-serif;
    font-size: 1.75vw;
}

.intro {
    text-align: center;
    padding-top: 15vw;
    position: absolute;
    width: 100%;
}

#GIFClippingPath {
    width: 100%;
    height: auto;
}

.section1gif {
    position: absolute;
    width: 100%;
    height: auto;
    clip-path: url(#GIFClippingPath);
}

.clippingPathSvg {
    height: 0;
    width: 0;
}

.GIFClippingPathShape {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 100%;
}