/*NAVBAR*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&family=Josefin+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&display=swap');

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.navbarShape {
    z-index: -1;
    opacity: 0;
    transition-duration: 1s;
}

.navbar {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1;
}

.navbarScrolled {
    opacity : 60%;
    transition-duration: 1s;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition-duration: 1s;
}

.navScrolled {
    position: absolute;
    top: -1.5vw;
    left: 0;
    width: 100%;
    transition-duration: 1s;
}

.navElements {
    display: flex;
    gap: 14.5vw;
 /*   justify-content: space-between;*/
}

.navElements ul {
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    gap: 3vw;
    font-size: 1.85vw;
    padding-top: 1.9vw;
}

.navElements ul a {
    color: #24549B;
}

.navElements ul a:hover {
    color: #0CC5CB;
}

.logo {
    padding: 3vw 0 0 5vw;
    height: 4.5vw;
    width: auto;
    transition-duration: 1s;
}

.logoScrolled {
    margin-right: -4vw;
    padding: 3.75vw 0 0 2.75vw;
    height: 8.5vw;
    width: auto;
    transition-duration: 1s;
}

.hexagons {
    padding: 3vw 5vw 0 0;
    height: 12.05vw;
    width: auto;
}

.socials {
    position: relative;
}

.socialsShape {
    position: absolute;
    top: 0;
    left: 0;
}

.social {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 4.175vw;
}

#fb {
    margin-left: 2.625vw;
}

#ig {
    margin-left: 6.075vw;
}

#li {
    margin-left: 9.3vw;
}

.socialIcon {
    font-size: 1.75vw;
    color: #24549B;
}

.socialIcon:hover {
    color: #0CC5CB;
    transition-duration: 500ms;
}

.Line1Anim {
    animation: move1 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

.Line2Anim {
    animation: move2 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

.Line3Anim {
    animation: move3 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

.Line4Anim {
    animation: move4 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

.Line5Anim {
    animation: move5 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

.Line6Anim {
    animation: move6 1s 1;
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: forwards;
}

@keyframes move1 {
    from {
        transform : rotateZ(0deg) translateY(0) translateX(0);
    }
    to {
        transform : rotateZ(60deg) translateY(-2.5rem) translateX(1.5rem);
    }
}

@keyframes move2 {
    from {
        transform : rotateZ(0deg) translateY(0) translateX(0);
    }
    to {
        transform : rotateZ(60deg) translateY(2.5rem) translateX(1.5rem);
    }
}

@keyframes move3 {
    from {
        transform : rotateZ(0deg) translateY(0) translateX(0);
    }
    to {
        transform : rotateZ(60deg) translateY(-0.1rem) translateX(-2.75rem);
    }
}

@keyframes move4 {
    from {
        transform : rotateZ(0deg) translateX(0);
    }
    to {
        transform : rotateZ(180deg) translateX(-6rem);
    }
}

@keyframes move5 {
    from {
        transform : rotateZ(0deg) translateX(0);
    }
    to {
        transform : rotateZ(180deg) translateX(6rem);
    }
}

@keyframes move6 {
    from {
        transform : rotateZ(0deg) translateX(0) translateY(0);
    }
    to {
        transform : rotateZ(-60deg) translateX(-3rem) translateY(0.1rem);
    }
}

.navLinkItem:hover + .loadHex {
    visibility: visible;
    height: 1vw;
    margin: auto;
    padding: 0;
    max-width: 1vw;
    display: block;
    transition-duration: 1s;
}


.navLinkItem:not(:hover) + .loadHex {
    visibility: hidden;
    height: 1vw;
    margin: auto;
    padding: 0;
    max-width: 1vw;
    display: block;
}

#HoverButtonHexagon {
    animation: rotate 1s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotate {
    from {
        transform:rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

/*////////////////////////////////////////////////////////////////////*/

/*HOME*/

@font-face {
    font-family: "IndigoRegular";
    src: local("IndigoRegular"),
    url("./fonts/Indigo/Indigo Regular.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "IndigoOutline";
    src: local("IndigoOutline"),
    url("./fonts/Indigo/Indigo Outline.woff2") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "AlboriRegular";
    src: local("AlboriRegular"),
    url("./fonts/Albori/Albori-Regular.otf") format("truetype");
    font-weight: bold;
}

.homeSections {
}

.topSection {
    position: relative;
}

.section1 {
    width:100%;
    height: auto;
    padding: 0;
    opacity: 25%;
    position: absolute;
}

.title{
    margin: 0;
    font-family: 'IndigoRegular',sans-serif;
    font-size: 3vw;
    padding-bottom: 3vw;
    color: white;
    letter-spacing: 1vw;
    /*animation: ease-in 1s ease;*/
}

.titleShadow {
    position: absolute;
    margin: 0;
    font-family: 'IndigoOutline',sans-serif;
    font-size: 3.2vw;
    padding-bottom: 2vw;
    color: #112849;
    letter-spacing: 0.875vw;
    width: 100%;
    font-weight: bold;
    line-height: 3.75vw;
    padding-top: 8.5vw;
}

.titleContainer {
    position: relative;
}

.intro p {
    font-family: 'Cairo',sans-serif;
    font-size: 1.5vw;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    font-weight: bolder;
}

.blinking-cursor::after {
    margin: 0;
    content: "|";
    animation: blink 1s step-end infinite;
}
@keyframes blink {
    from,
    to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.intro {
    text-align: center;
    padding-top: 15vw;
    position: absolute;
    width: 100%;
}

#GIFClippingPath {
    width: 100%;
    height: auto;
}

.section1gif {
    position: absolute;
    width: 100%;
    height: auto;
    clip-path: url(#GIFClippingPath);
}

.clippingPathSvg {
    height: 0;
    width: 0;
}

.GIFClippingPathShape {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 100%;
}

.floatingDNA {
    animation: floating 10s infinite;
    animation-timing-function: linear;
    position: absolute;
    width:9%;
    height:auto;
    transform: translateY(45vw) translateX(10vw);
}

@keyframes floating {
    0% {
        opacity: 0;
    }
    25% {
        transform: translateY(30vw) translateX(5vw) rotateZ(60deg);
        opacity: 50%;
    }
    50%{
        transform: translateY(20vw) translateX(5vw) rotateZ(-60deg);
        opacity: 100%;
    }
    75%{
        transform: translateY(10vw) translateX(7.5vw) rotateZ(40deg);
        opacity: 50%;
    }
    100% {
        transform: translateY(0vw) translateX(15vw) rotateZ(-30deg);
        opacity: 0;
    }
}

.middleTopSection {
    position: relative;
    margin-top: 65%;
}

.bgMiddleTopSection {
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 42%;
    z-index: -2;
}

.staffHeadlineOff{
    visibility: hidden;
}

.staffHeadlineOn {
    font-family: 'Josefin Sans',sans-serif;
    padding: 4.5vw 5vw;
    font-size: 4.5vw;
    color: #112849;
    animation: bouncing 2s infinite;
}

@keyframes bouncing {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5vw);
    }
    100% {
        transform: translateY(0);
    }

}

.staffHeadlineShadowOff{
    visibility: hidden;
}

.staffHeadlineShadowOn {
    font-family: 'Josefin Sans',sans-serif;
    padding: 4.5vw 5vw;
    font-size: 4.5vw;
    opacity: 50%;
    margin-top: 0.5vw;
    color: #112849;
}

.staffGrid {
    display: flex;
    flex-direction: column;
    padding: 0 4vw;
}

.rowThirds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6vw;
}

.rowHalves {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12vw;
    padding: 6vw 12vw;
}

.staffElement {
    display: block;
    text-align: center;
    position: relative;
}

.staffSvg {
    height: fit-content;
    width: 100%;
}

.staffPosition {
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    letter-spacing: 0.1vw ;
    margin-top: -0.5vw;
    font-weight: 500;
    color: #112849;
    overflow: hidden;
    text-align: center;
}

.staffPosition:before,
.staffPosition:after {
    background-color: #112849;
    content: "";
    display: inline-block;
    height: 0.11vw;
    position: relative;
    vertical-align: middle;
    width: 25%;
}

.staffPosition:before {
    right: 0.5em;
    margin-left: -50%;
}

.staffPosition:after {
    left: 0.5em;
    margin-right: -50%;
}

.crownPosition {
    position: absolute;
    width: 6vw;
    height: auto;
    transform: rotateZ(30deg);
    margin-top: -30vw;
    margin-left: 0.7vw;
    visibility: hidden;
}

.crownPositionHover{
    position: absolute;
    width: 6vw;
    height: auto;
    transform: rotateZ(30deg);
    margin-top: -44.7vw;
    margin-left: 0.7vw;
    visibility: visible;
    transition-duration: 500ms;
}

.moneyBagPosition {
    position: absolute;
    width: 6vw;
    height: auto;
    transform: rotateZ(1deg);
    margin-top: 0;
    margin-left: 0.7vw;
    visibility: hidden;
}

.moneyBagPositionHover{
    position: absolute;
    width: 6vw;
    height: auto;
    transform: rotateZ(15deg);
    margin-top: -21vw;
    margin-left: 5.9vw;
    visibility: visible;
    transition-duration: 500ms;
}

.glassesPosition{
    position: absolute;
    width: 6.5vw;
    height: auto;
    transform: rotateZ(-10deg);
    margin-top: -20vw;
    margin-left: -2vw;
    visibility: hidden;
}

.glassesPositionHover{
    position: absolute;
    width: 6.5vw;
    height: auto;
    transform: rotateZ(0deg);
    margin-top: -36.75vw;
    margin-left: -3.25vw;
    transition-duration: 500ms;
    visibility: visible;
}

.bookAndQuillPosition{
    position: absolute;
    width: 6.5vw;
    height: auto;
    transform: rotateZ(10deg);
    margin-top: -20vw;
    margin-left: -2vw;
    visibility: hidden;
}

.bookAndQuillPositionHover{
    position: absolute;
    width: 6.5vw;
    height: auto;
    transform: rotateZ(30deg);
    margin-top: -22.5vw;
    margin-left: -6vw;
    transition-duration: 500ms;
    visibility: visible;
}

.slidingText {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 2.5vw;
    font-weight: 700;
}

.cloud {
    width: 75%;
    position: absolute;
}


/* UTILITIES */

.fit-content {
    width: fit-content;
    height: auto;
}

.absolute {
    position: absolute;
}

.gradientText-lato-2-900-darkBlue-20-lightBlue-150 {
    background: radial-gradient(circle at center,#112849 20%,#0CC5CB 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lato',sans-serif;
    font-size: 2vw;
    font-weight: 900;
}


